<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Barış Can Çifçi">
    <meta name="description" content="kelime kart uygulaması,wordcard">
    <link rel="icon" href="https://www.flaticon.com/svg/vstatic/svg/1639/1639290.svg?token=exp=1613754657~hmac=7943c796644e9a51497014dc15713901" type="image/x-icon"/>

    <title>Anasayfa</title>
    <link rel="stylesheet" href="home.css">
</head>
<body>
    <header>
        <div class="logo-container">
            <img src="assets/paper-sheet.svg" style="width: 50px;" alt="logo">
            <h4 class="logo">WORD <span style="color:#5758BB ; font-weight: bold;">CARD</span></h4>
        </div>
        <nav>
            <ul class="nav-links">
                <li class="nav-link"><a href="/">Anasayfa</a></li>
                <li class="nav-link"><a href="/">Nasıl Kullanılır ?</a></li>
            </ul>
        </nav>
        <div class="profile">
            <a href="/login" style="font-size: 1.2rem; display: flex; justify-content: center; align-items: center; color: #0652DD; text-decoration: none;"><img src="assets/log-in.svg" style="width: 40px;" alt="profile">Giriş</a>
            
        </div>
    </header>
    <main>
        <section class="presentation">
            <div class="introduction">
                <div class="intro-text">
                    <h1>Kelime Kartlarıyla Dil Öğrenin<br>Its <span>WORDCARD</span></h1>
                     <p>Wordcard uygulaması kelime ezberlemekte zorlanan insanlar için tasarlanmıştır.Uygulamaya giriş yapıp sizde kelime kartlarınızı oluşturun. </p>
                </div>
                <div class="cta">
                    <button  class="cta-start"><a href="/register" class="btn">Hadi Başlayalım</a></button>
                </div>
            </div>
            <div class="cover">
                <img src="assets/paper-sheet.svg" alt="translate">
            </div>
        </section>

    </main>
</body>
</html>